<!DOCTYPE html>

{% extends "web_app/base.html" %}

{% block body_block %}

{% load static %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static "css/style.css"%}">
    <title></title>
</head>
<body>
    <!-- banner items -->  
    <div class = "banner_items">
        <div class = "banner_container">
            <div>
                <a  href=""><img id = "banner" src="https://mir-s3-cdn-cf.behance.net/project_modules/fs/b530f7110494491.5feef8228f2b8.png" alt=""></a>
            </div>
        </div>

        <!-- top 3 items -->
        <div class = "top3_items">
            
            <div class="item_image_container">
                <a href=""><img id="item_image_container" class = "item_image" src="https://burst.shopifycdn.com/photos/stacked-bracelets-set.jpg?width=373&format=pjpg&exif=1&iptc=1" alt=""></a>
            </div>

            <div class="item_image_container">
                <a href=""><img id="item_image_container" class = "item_image" src="https://burst.shopifycdn.com/photos/qr-codes-in-store.jpg?width=373&format=pjpg&exif=1&iptc=1" alt=""></a>
            </div>
            
            <div class="item_image_container">
                <a href=""><img id="item_image_container" class = "item_image" src="https://burst.shopifycdn.com/photos/galaxy-earrings.jpg?width=373&format=pjpg&exif=1&iptc=1" alt=""></a>
            </div>
            
            <div class="item_image_container">
                <a href=""><img id="item_image_container" class = "item_image" src="https://eco-beauty.dior.com/dw/image/v2/BDGF_PRD/on/demandware.static/-/Sites-master_dior/default/dw57d5dd06/assets/Y0996460/Y0996460_C099600755_E01_GHC.jpg?sw=460&sh=498&sm=fit&imwidth=460" alt=""></a>
            </div>
            
            <div class="item_image_container">
                <a href=""><img id="item_image_container" class = "item_image" src="https://api-beauty.dior.com/couture/var/dior/storage/images/15424996/54-esl-ES/bain-et-corps6_1440_1200.jpg" alt=""></a>
            </div>

            <div class="item_image_container">
                <a href=""><img id="item_image_container" class = "item_image" src="https://eco-beauty.dior.com/dw/image/v2/BDGF_PRD/on/demandware.static/-/Sites-master_dior/default/dw01efa0d7/assets/Y0302000/Y0302000_C030200020_E01_GHC.jpg?sw=460&sh=498&sm=fit&imwidth=460" alt=""></a>
            </div>

    </div>
    <!-- carausel -->
    <div class="title">
        <h2>Moda</h2>
    </div>    
    <div class = "carousel_container" >
            <div class = "carrusel_items">
                <div class = "item_container">
                    
                    <div>
                        <img id = "carousel_image" src="https://media.istockphoto.com/photos/skin-and-hair-care-beauty-product-mockup-lotion-bottle-oil-cream-on-picture-id1198863709?k=20&m=1198863709&s=612x612&w=0&h=fIKFkMvxGYvKW1ZjUc-QZDJqRaYnrr2UeUh91ItPfog=" alt="">
                    </div>

                    <div class= "text_price_field">
                        <div class="pricenow_after">
                            
                            <div class="pricenow">
                                <p>$20</p>
                            </div>

                            <div class="priceafter">
                                <p>$40</p>
                            </div>

                        </div>
                        
                            <div class = "texto">
                                <p>Set de cuidado personal para la piel</p>
                            </div>
                        
                    </div>

                </div>
            </div>

            <div class = "carrusel_items">
                <div class = "item_container">
                    
                    <div>
                        <img id = "carousel_image" src="https://media.istockphoto.com/photos/skin-and-hair-care-beauty-product-mockup-lotion-bottle-oil-cream-on-picture-id1198863709?k=20&m=1198863709&s=612x612&w=0&h=fIKFkMvxGYvKW1ZjUc-QZDJqRaYnrr2UeUh91ItPfog=" alt="">
                    </div>

                    <div class= "text_price_field">
                        <div class="pricenow_after">
                            
                            <div class="pricenow">
                                <p>$20</p>
                            </div>

                            <div class="priceafter">
                                <p>$40</p>
                            </div>

                        </div>
                        
                            <div class = "texto">
                                <p>Set de cuidado personal para la piel</p>
                            </div>
                        
                    </div>

                </div>
            </div>

            <div class = "carrusel_items">
                <div class = "item_container">
                    
                    <div>
                        <img id = "carousel_image" src="https://media.istockphoto.com/photos/skin-and-hair-care-beauty-product-mockup-lotion-bottle-oil-cream-on-picture-id1198863709?k=20&m=1198863709&s=612x612&w=0&h=fIKFkMvxGYvKW1ZjUc-QZDJqRaYnrr2UeUh91ItPfog=" alt="">
                    </div>

                    <div class= "text_price_field">
                        <div class="pricenow_after">
                            
                            <div class="pricenow">
                                <p>$20</p>
                            </div>

                            <div class="priceafter">
                                <p>$40</p>
                            </div>

                        </div>
                        
                            <div class = "texto">
                                <p>Set de cuidado personal para la piel</p>
                            </div>
                        
                    </div>

                </div>
            </div>

            <div class = "carrusel_items">
                <div class = "item_container">
                    
                    <div>
                        <img id = "carousel_image" src="https://media.istockphoto.com/photos/skin-and-hair-care-beauty-product-mockup-lotion-bottle-oil-cream-on-picture-id1198863709?k=20&m=1198863709&s=612x612&w=0&h=fIKFkMvxGYvKW1ZjUc-QZDJqRaYnrr2UeUh91ItPfog=" alt="">
                    </div>

                    <div class= "text_price_field">
                        <div class="pricenow_after">
                            
                            <div class="pricenow">
                                <p>$20</p>
                            </div>

                            <div class="priceafter">
                                <p>$40</p>
                            </div>

                        </div>
                        
                            <div class = "texto">
                                <p>Set de cuidado personal para la piel</p>
                            </div>
                        
                    </div>

                </div>
            </div>

            <div class = "carrusel_items">
                <div class = "item_container">
                    
                    <div>
                        <img id = "carousel_image" src="https://media.istockphoto.com/photos/skin-and-hair-care-beauty-product-mockup-lotion-bottle-oil-cream-on-picture-id1198863709?k=20&m=1198863709&s=612x612&w=0&h=fIKFkMvxGYvKW1ZjUc-QZDJqRaYnrr2UeUh91ItPfog=" alt="">
                    </div>

                    <div class= "text_price_field">
                        <div class="pricenow_after">
                            
                            <div class="pricenow">
                                <p>$20</p>
                            </div>

                            <div class="priceafter">
                                <p>$40</p>
                            </div>

                        </div>
                        
                            <div class = "texto">
                                <p>Set de cuidado personal para la piel</p>
                            </div>
                        
                    </div>

                </div>
            </div>

            <div class = "carrusel_items">
                <div class = "item_container">
                    
                    <div>
                        <img id = "carousel_image" src="https://media.istockphoto.com/photos/skin-and-hair-care-beauty-product-mockup-lotion-bottle-oil-cream-on-picture-id1198863709?k=20&m=1198863709&s=612x612&w=0&h=fIKFkMvxGYvKW1ZjUc-QZDJqRaYnrr2UeUh91ItPfog=" alt="">
                    </div>

                    <div class= "text_price_field">
                        <div class="pricenow_after">
                            
                            <div class="pricenow">
                                <p>$20</p>
                            </div>

                            <div class="priceafter">
                                <p>$40</p>
                            </div>

                        </div>
                        
                            <div class = "texto">
                                <p>Set de cuidado personal para la piel</p>
                            </div>
                        
                    </div>

                </div>
            </div>

            <div class = "carrusel_items">
                <div class = "item_container">
                    
                    <div>
                        <img id = "carousel_image" src="https://media.istockphoto.com/photos/skin-and-hair-care-beauty-product-mockup-lotion-bottle-oil-cream-on-picture-id1198863709?k=20&m=1198863709&s=612x612&w=0&h=fIKFkMvxGYvKW1ZjUc-QZDJqRaYnrr2UeUh91ItPfog=" alt="">
                    </div>

                    <div class= "text_price_field">
                        <div class="pricenow_after">
                            
                            <div class="pricenow">
                                <p>$20</p>
                            </div>

                            <div class="priceafter">
                                <p>$40</p>
                            </div>

                        </div>
                        
                            <div class = "texto">
                                <p>Set de cuidado personal para la piel</p>
                            </div>
                        
                    </div>

                </div>
            </div>

            <div class = "carrusel_items">
                <div class = "item_container">
                    
                    <div>
                        <img id = "carousel_image" src="https://media.istockphoto.com/photos/skin-and-hair-care-beauty-product-mockup-lotion-bottle-oil-cream-on-picture-id1198863709?k=20&m=1198863709&s=612x612&w=0&h=fIKFkMvxGYvKW1ZjUc-QZDJqRaYnrr2UeUh91ItPfog=" alt="">
                    </div>

                    <div class= "text_price_field">
                        <div class="pricenow_after">
                            
                            <div class="pricenow">
                                <p>$20</p>
                            </div>

                            <div class="priceafter">
                                <p>$40</p>
                            </div>

                        </div>
                        
                            <div class = "texto">
                                <p>Set de cuidado personal para la piel</p>
                            </div>
                        
                    </div>

                </div>
            </div>
    </div>

    <div class="title">
        <h3>Moda</h3>
    </div>    
    <div class = "carousel_container" >
            <div class = "carrusel_items">
                <div class = "item_container">
                    
                    <div>
                        <img id = "carousel_image" src="https://media.istockphoto.com/photos/skin-and-hair-care-beauty-product-mockup-lotion-bottle-oil-cream-on-picture-id1198863709?k=20&m=1198863709&s=612x612&w=0&h=fIKFkMvxGYvKW1ZjUc-QZDJqRaYnrr2UeUh91ItPfog=" alt="">
                    </div>

                    <div class= "text_price_field">
                        <div class="pricenow_after">
                            
                            <div class="pricenow">
                                <p>$20</p>
                            </div>

                            <div class="priceafter">
                                <p>$40</p>
                            </div>

                        </div>
                        
                            <div class = "texto">
                                <p>Set de cuidado personal para la piel</p>
                            </div>
                        
                    </div>

                </div>
            </div>

            <div class = "carrusel_items">
                <div class = "item_container">
                    
                    <div>
                        <img id = "carousel_image" src="https://media.istockphoto.com/photos/skin-and-hair-care-beauty-product-mockup-lotion-bottle-oil-cream-on-picture-id1198863709?k=20&m=1198863709&s=612x612&w=0&h=fIKFkMvxGYvKW1ZjUc-QZDJqRaYnrr2UeUh91ItPfog=" alt="">
                    </div>

                    <div class= "text_price_field">
                        <div class="pricenow_after">
                            
                            <div class="pricenow">
                                <p>$20</p>
                            </div>

                            <div class="priceafter">
                                <p>$40</p>
                            </div>

                        </div>
                        
                            <div class = "texto">
                                <p>Set de cuidado personal para la piel</p>
                            </div>
                        
                    </div>

                </div>
            </div>

            <div class = "carrusel_items">
                <div class = "item_container">
                    
                    <div>
                        <img id = "carousel_image" src="https://media.istockphoto.com/photos/skin-and-hair-care-beauty-product-mockup-lotion-bottle-oil-cream-on-picture-id1198863709?k=20&m=1198863709&s=612x612&w=0&h=fIKFkMvxGYvKW1ZjUc-QZDJqRaYnrr2UeUh91ItPfog=" alt="">
                    </div>

                    <div class= "text_price_field">
                        <div class="pricenow_after">
                            
                            <div class="pricenow">
                                <p>$20</p>
                            </div>

                            <div class="priceafter">
                                <p>$40</p>
                            </div>

                        </div>
                        
                            <div class = "texto">
                                <p>Set de cuidado personal para la piel</p>
                            </div>
                        
                    </div>

                </div>
            </div>

            <div class = "carrusel_items">
                <div class = "item_container">
                    
                    <div>
                        <img id = "carousel_image" src="https://media.istockphoto.com/photos/skin-and-hair-care-beauty-product-mockup-lotion-bottle-oil-cream-on-picture-id1198863709?k=20&m=1198863709&s=612x612&w=0&h=fIKFkMvxGYvKW1ZjUc-QZDJqRaYnrr2UeUh91ItPfog=" alt="">
                    </div>

                    <div class= "text_price_field">
                        <div class="pricenow_after">
                            
                            <div class="pricenow">
                                <p>$20</p>
                            </div>

                            <div class="priceafter">
                                <p>$40</p>
                            </div>

                        </div>
                        
                            <div class = "texto">
                                <p>Set de cuidado personal para la piel</p>
                            </div>
                        
                    </div>

                </div>
            </div>

            <div class = "carrusel_items">
                <div class = "item_container">
                    
                    <div>
                        <img id = "carousel_image" src="https://media.istockphoto.com/photos/skin-and-hair-care-beauty-product-mockup-lotion-bottle-oil-cream-on-picture-id1198863709?k=20&m=1198863709&s=612x612&w=0&h=fIKFkMvxGYvKW1ZjUc-QZDJqRaYnrr2UeUh91ItPfog=" alt="">
                    </div>

                    <div class= "text_price_field">
                        <div class="pricenow_after">
                            
                            <div class="pricenow">
                                <p>$20</p>
                            </div>

                            <div class="priceafter">
                                <p>$40</p>
                            </div>

                        </div>
                        
                            <div class = "texto">
                                <p>Set de cuidado personal para la piel</p>
                            </div>
                        
                    </div>

                </div>
            </div>

            <div class = "carrusel_items">
                <div class = "item_container">
                    
                    <div>
                        <img id = "carousel_image" src="https://media.istockphoto.com/photos/skin-and-hair-care-beauty-product-mockup-lotion-bottle-oil-cream-on-picture-id1198863709?k=20&m=1198863709&s=612x612&w=0&h=fIKFkMvxGYvKW1ZjUc-QZDJqRaYnrr2UeUh91ItPfog=" alt="">
                    </div>

                    <div class= "text_price_field">
                        <div class="pricenow_after">
                            
                            <div class="pricenow">
                                <p>$20</p>
                            </div>

                            <div class="priceafter">
                                <p>$40</p>
                            </div>

                        </div>
                        
                            <div class = "texto">
                                <p>Set de cuidado personal para la piel</p>
                            </div>
                        
                    </div>

                </div>
            </div>

            <div class = "carrusel_items">
                <div class = "item_container">
                    
                    <div>
                        <img id = "carousel_image" src="https://media.istockphoto.com/photos/skin-and-hair-care-beauty-product-mockup-lotion-bottle-oil-cream-on-picture-id1198863709?k=20&m=1198863709&s=612x612&w=0&h=fIKFkMvxGYvKW1ZjUc-QZDJqRaYnrr2UeUh91ItPfog=" alt="">
                    </div>

                    <div class= "text_price_field">
                        <div class="pricenow_after">
                            
                            <div class="pricenow">
                                <p>$20</p>
                            </div>

                            <div class="priceafter">
                                <p>$40</p>
                            </div>

                        </div>
                        
                            <div class = "texto">
                                <p>Set de cuidado personal para la piel</p>
                            </div>
                        
                    </div>

                </div>
            </div>

            <div class = "carrusel_items">
                <div class = "item_container">
                    
                    <div>
                        <img id = "carousel_image" src="https://media.istockphoto.com/photos/skin-and-hair-care-beauty-product-mockup-lotion-bottle-oil-cream-on-picture-id1198863709?k=20&m=1198863709&s=612x612&w=0&h=fIKFkMvxGYvKW1ZjUc-QZDJqRaYnrr2UeUh91ItPfog=" alt="">
                    </div>

                    <div class= "text_price_field">
                        <div class="pricenow_after">
                            
                            <div class="pricenow">
                                <p>$20</p>
                            </div>

                            <div class="priceafter">
                                <p>$40</p>
                            </div>

                        </div>
                        
                            <div class = "texto">
                                <p>Set de cuidado personal para la piel</p>
                            </div>
                        
                    </div>

                </div>
            </div>
    </div>

    <div class = "two_banners">

        <div class = "banner_two">
            <div class="title">
                <h2>Más vendidos</h2>
            </div>  
            <div class = "carousel_container" >
                <div class = "carrusel_items">
                    <div class = "item_container">
                        
                        <div>
                            <img id = "carousel_image" src="https://media.istockphoto.com/photos/skin-and-hair-care-beauty-product-mockup-lotion-bottle-oil-cream-on-picture-id1198863709?k=20&m=1198863709&s=612x612&w=0&h=fIKFkMvxGYvKW1ZjUc-QZDJqRaYnrr2UeUh91ItPfog=" alt="">
                        </div>
    
                        <div class= "text_price_field">
                            <div class="pricenow_after">
                                
                                <div class="pricenow">
                                    <p>$20</p>
                                </div>
    
                                <div class="priceafter">
                                    <p>$40</p>
                                </div>
    
                            </div>
                            
                                <div class = "texto">
                                    <p>Set de cuidado personal para la piel</p>
                                </div>
                            
                        </div>
    
                    </div>
                </div>
                <div class = "carrusel_items">
                    <div class = "item_container">
                        
                        <div>
                            <img id = "carousel_image" src="https://media.istockphoto.com/photos/skin-and-hair-care-beauty-product-mockup-lotion-bottle-oil-cream-on-picture-id1198863709?k=20&m=1198863709&s=612x612&w=0&h=fIKFkMvxGYvKW1ZjUc-QZDJqRaYnrr2UeUh91ItPfog=" alt="">
                        </div>
    
                        <div class= "text_price_field">
                            <div class="pricenow_after">
                                
                                <div class="pricenow">
                                    <p>$20</p>
                                </div>
    
                                <div class="priceafter">
                                    <p>$40</p>
                                </div>
    
                            </div>
                            
                                <div class = "texto">
                                    <p>Set de cuidado personal para la piel</p>
                                </div>
                            
                        </div>
    
                    </div>
                </div>
            </div>
        
        </div>

        <div class = "banner_one">

            <a href=""><img class = "banner_one_image" src="https://images.unsplash.com/photo-1526170375885-4d8ecf77b99f?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8NHx8cHJvZHVjdHxlbnwwfHwwfHw%3D&auto=format&fit=crop&w=500&q=60" alt=""></a>     

        </div>
        

        


    </div>

</body>
</html>

{% endblock body_block %}